<style>
    #buttons {
        padding: 10px;
        
    }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            margin-right: 10px;
            }
</style>

<nav>
    <ul id="buttons">
        <li class="button"><a href="http://127.0.0.1:8000/truthTable/">Truth Table Generator</a></li>
        <li class="button"><a href="http://127.0.0.1:8000/truthTable/exercise1">Exercise 1</a></li>
        <li class="button"><a href="http://127.0.0.1:8000/truthTable/exercise2">Exercise 2</a></li>
    </ul>
</nav>
